header {
 background: url(../Illustrations/Home/Bathome1.png); 
 background-size: cover;
 background-repeat: no-repeat;  
}
#scrollMenu {
    left : 90%;
    top: 200px ;
    transition: 0.3s ease ;
    position: absolute;
    z-index: 1; 
}

.icon:hover {
color: var(--color-6);
cursor: pointer;

} 

main, footer, header .textIntro{
    margin: 50px;
    border-left: 2px solid rgba(255, 255, 255, 0.5 );
    border-right: 2px solid rgba(255, 255, 255, 0.5 );
}

header nav{
    margin: 50px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5 );
    border-left: 2px solid rgba(255, 255, 255, 0.5 );
    border-right: 2px solid rgba(255, 255, 255, 0.5 );
}

.textIntro{
    
padding: 20%;
transform: translateX(-100%);
visibility: hidden;
opacity: 0;
   
}


.sliderBatman img {
width: 100%;

}
.prenonsContact {
    background-color:linear-gradient(var);
}
input::placeholder {
    color: var(--color-3);
    
}
input, select, option {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid var(--color-3);
    width: 100%;

}
 
 .text-small {
     font-size: smaller;
 }
.slides{
    display: none;
width: 150%;
overflow:visible;
}



.slideTextAnimationDisplay {
    display: block;
    transition: 2s;
}

#figCaptionBatHome1,
#figCaptionBatHome2,
#figCaptionBatHome3 {
    background: var(--gradient1rgba);
    opacity: 0.5;
    width: 75%;
    text-align: center;
    border-radius: 20px;
    margin: -10% 25% 10% 40%;
    opacity: 0;
    transition: 0.6s ease;
    /* display: none; */
    
} 

#batHome11:hover, 
#batHome12:hover, 
#batHome13:hover {
    transform: scale(1.5);
    transition: 0s ease-out;
}
#batHome111,
#batHome121,
#batHome131 {
    padding-left: 15%;
    opacity: 0;
    transition: 0.6s ease;
    /* display: none; */
}
#batHome11, 
#batHome12, 
#batHome13, 
#batHome21, 
#batHome22, 
#batHome23 {
width: 100%;
}

#formulaire {}